* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  margin: 1rem;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

form {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  align-items: center;
  margin: 1rem;
}

input {
  width: fit-content;
}
