<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{stats['name']}}</h1>
    <div id="root">
      <ul>
        <li>WIT: <strong>{{stats['wit']}}</strong></li>
        <li>STRENGTH: <strong>{{stats['strength']}}</strong></li>
        <li>ATTACK: <strong>{{stats['attack']}}</strong></li>
        <li>DEFENSE: <strong>{{stats['defense']}}</strong></li>
        <li>MAGIC: <strong>{{stats['magic']}}</strong></li>
        <br />
        <li><a href="/">BACK</a></li>
      </ul>
      <!-- <form action="/update">
        <ul>
          <li>
            <label for="wit_u">Update wit: </label>

            <input type="number" id="wit_u" />
          </li>
          <li>
            <label for="strength_u">Update strength: </label>

            <input type="number" id="strength_u" />
          </li>
          <li>
            <label for="attack_u">Update attack: </label>

            <input type="number" id="attack_u" />
          </li>
          <li>
            <label for="defense_u">Update defense: </label>

            <input type="number" id="defense_u" />
          </li>
          <li>
            <label for="magic_u">Update magic: </label>

            <input type="number" id="magic_u" />
          </li>
        </ul>
      </form> -->
    </div>
  </body>
</html>
