<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blocked</title>
</head>

<body style="background-color: red; color: white">
    <main>
        <p>BLOCKED!</p>
        <p>you visited more than 10 times, <a href="/login">login</a> to view premium content</p>
        <p>visits: <%= visits %>
        </p>
    </main>
</body>

</html>