<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>premium</title>
</head>

<body style="background-color: greenyellow; color: black">
    <main>
        <p>PREMIUM!</p>
        <% if(authenticated){ %>
            <p>you are logged in and have unlimited premium content</p>
            <p>visits: <%= visits %>
                    <% }else { %>
                        <p>you have not visited more than 10 times</p>
                        <p>visits: <%= visits %>
                                <% } %>
                        </p>
                        <a href="/logout">logout</a>
    </main>
</body>

</html>