<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/weather_lab.css" />
    <title>Weather</title>
  </head>
  <body>
    <h1>Weather</h1>
    <form action="/weather_results">
      <fieldset>
        <legend><h2>Choose a location</h2></legend>
        Latitude: <input type="text" name="latitude" /><br />
        Longitude: <input type="text" name="longitude" /><br />
        <button type="submit">Get weather</button>
      </fieldset>
    </form>
  </body>
</html>
